node_modules/

dist/
build/

.env

*.log

.vscode/
.idea/

coverage/

*~
*.tmp

*.js
*.js.map

.angular/

target/

.vscode/

Documents/

*.Zone.Identifier

/backend-Spring/src/main/resources/application.properties

